<div class="nested-fields">
  <div class=" col-md-2" style = "float: left">
    <h5><%= f.input :referencia %></h5>
  </div>
  <div class=" col-md-8" style = "float: left">
    <h5><%= f.input :descripcion %></h5>
  </div>
  <div class=" col-md-2" style = "float: left">
    <h5><%= f.input :lote %></h5>
  </div>
    <div class=" col-md-2" style = "float: left">
      <h5><%= f.input :iva %></h5>
    </div>
    <div class=" col-md-2" style = "float: left">
      <h5><%= f.input :cantidad %></h5>
    </div>
    <div class=" col-md-2" style = "float: left">
      <h5><%= f.input :unidad %></h5>
    </div>
    <div class=" col-md-3" style = "float: left">
      <h5><%= f.input :valor_unitario %></h5>
    </div>
    <div class=" col-md-3" style = "float: left">
    <h5><%= f.input :valor_total %></h5>
    </div>
    <div>
    <%= link_to_remove_association  "X",f,class:"btn btn-outline-danger" %>
      </div>
      <hr>
</div>
