<div class="nested-fields">
  <div class="col-md-10" style = "float: left">
    <h5>Producto</h5>
    <%= collection_select(:atricheck,:checkatri_id,Checkatri.order(:referencia),:id,:product_order,{:prompt => 'Seleccionar Producto'},class:"custom-select col-md-8")%>
  </div>
  <div class=" col-md-2" style = "float: left">
    <h5><%= f.input :lote %></h5>
  </div>
    <div class=" col-md-6" style = "float: left">
      <h5><%= f.input :cantidad %></h5>
    </div>
    <div class=" col-md-6" style = "float: left">
      <h5><%= f.input :unidad, :input_html => { :value => 'UND' }%></h5>
    </div>

    <div>
    <%= link_to_remove_association  "X",f,class:"btn btn-outline-danger" %>
      </div>
      <hr>
</div>
