<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <br>




    <script type="text/javascript">
      function mostrarValor(select) {
        select.parentNode.querySelector("input[name=quantity]").value = select.value;
      }
    </script>

    <center>
    <div class="col-md-6">
      <select class="custom-select" name="sel_quantity" id="sel_quantity" onChange="mostrarValor(this)">
        <option selected>Selecciona cliente</option>
          <% @clienteremis.each do |clienteremi|%>
          <option value="<%= clienteremi.id %>"><%= clienteremi.nombre %>&nbsp;<%= clienteremi.apellidos %></option>
        <% end %>
      </select>
      <br>
      <input type="text" name="quantity" class="form-control" value="Datos cliente" />
      <hr>
    </div>

<div class="col-md-6">
  <%= select_tag 'model[clienteremi]', options_from_collection_for_select(@clienteremis, :id,:nombre),class:"custom-select", id:"keyboard-select" %>
  <%= button_tag "Add", class: "btn btn-primary keyboard-select-add" %>
</div>

<script type="text/javascript">
  $('.keyboard-select-add').on 'click', ->
      console.log( $('#keyboard-select :selected').data('font-code'))
</script>





    <br>
    <br>

    <div class="col-md-6">
      <div class="shadow-lg p-3 mb-5 bg-white ">
        <center>
      <h3>Generar Remision</h3>
      <%= link_to 'PDF', remision_path(format: "pdf"), class:"btn btn-outline-danger mr-2" %>
      </center>
    </div>
    </div>
    </center>
  </body>


</html>
