<div  class="shadow-lg p-3 mb-5 bg-white rounded">
  <center>
    <h1>Informacion de remisiones</h1>
  </center>
</div>

<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Fecha exp</th>
      <th>Fecha ven</th>
      <th>Cliente</th>
      <th>Valor bruto</th>
      <th>Descuento</th>
      <th>Subtotal</th>

      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>

    <div class="d-flex flex-row-reverse bd-highligth p-1">
        <%= link_to 'Nueva remisiòn', new_remision_path, class:"btn btn-success mr-2" %>
    </div>

    <% @remisions.each do |r| %>
      <tr>
        <td><%= r.fecha_expedicion %></td>
        <td><%= r.fecha_vencimiento %></td>
        <td><%= r.clienteremi_id %></td>
        <td><%= r.valor_bruto %></td>
        <td><%= r.descuento %></td>
        <td><%= r.subtotal %></td>
        <td><%= r.iva %></td>
        <td><%= r.total %></td>
        <td><%= link_to '➜',r,class:"btn btn-primary" %></td>
        <td><%= link_to 'Editar', edit_remision_path(r), class:"btn btn-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<footer><%= render "inicio/footer"%></footer>
