<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> RemisionesSamaracosmetics</title>
    <%=wicked_pdf_stylesheet_link_tag 'pdf'%>
    </head>
  <body>
    <center>
      <%= wicked_pdf_image_tag '200elogo.png',style:"float:left; margin:30px;" %>
    <p style="float:left; margin:30px;"><b>Samara Cosmetics S.A.S</b><br>
    Cra 54 No 72a 65<br>Telefono:2258432 -4448438<br>info@samaracosmetics.com<br>IVA-REGIMEN COMUN<br>Agente retenedor</p>
    <br>
    <table border="1" style="margin:20px;">
			<tr>
				<th colspan="2" width="90%">Remisión<br> Noº <%= @remision.id %></th>
			</tr>
			<tr>
				<th colspan="2">&emsp; &emsp;--&emsp; &emsp; ORIGINAL&emsp; &emsp; -- &emsp; &emsp;</th>
			</tr>
			<tr>
				<td><center><b>Fecha Expedición</b><br><%= @remision.fecha_expedicion %></center></td>
			</tr>
		</table>
  </center>
  <div style="float:left;">
  <strong>Nombre :</strong>&nbsp;&nbsp;<%=@remision.clienteremi.nombre %>&nbsp;<%=@remision.clienteremi.apellidos%>
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Empresa :</strong>&nbsp;<%=@remision.clienteremi.empresa%>
      &nbsp;&nbsp;&nbsp;&nbsp;<strong>Nit :</strong>&nbsp;<%=@remision.clienteremi.nit%>
        &nbsp;&nbsp;<strong>Ciudad :</strong>&nbsp;<%=@remision.clienteremi.ciudad%>
          &nbsp;&nbsp;<strong>Direccion :</strong>&nbsp;<%=@remision.clienteremi.direccion%>
            &nbsp;&nbsp;<strong>Telefono :</strong>&nbsp;<%=@remision.clienteremi.telefono%>
    </div>
    <br>
    <table border>
  <tr>
    <th width="10%">Referencia</th>
    <th width="60%">Descripcion</th>
    <th width="10%">Lote</th>
    <th width="8%">Cantidad</th>
    <th width="8%">Unidad</th>
  </tr>
  <% @remision.atrichecks.each do |atricheck|%>
  <tr>
    <td><center><%=atricheck.checkatri.try(:referencia)%></center></td>
    <td><center><%=atricheck.checkatri.try(:descripcion)%></center></td>
    <td><center><%=atricheck.lote%></center></td>
    <td><center><%=atricheck.cantidad%></center></td>
    <td><center><%=atricheck.unidad%></center></td>
  </tr>
  <%end%>

  <% @remision.atriremis.each do |atriremi|%>
  <tr>
    <td><center><%= atriremi.referencia%></center></td>
    <td><center><%=atriremi.descripcion%></center></td>
    <td><center><%=atriremi.lote%></center></td>
    <td><center><%=atriremi.cantidad%></center></td>
    <td><center><%=atriremi.unidad%></center></td>
  </tr>
  <%end%>
</table>
<table border>
	<tr>
		<td rowspan=2 width="1000px">&nbsp;<b>NOTA :</b> &nbsp;&nbsp;<%= @remision.nota%></td>

	</tr>
</table>
<center>
  <div>
    <p style="float:left;"><b>____________________ <br>Vendedor.</b> <br>Nit: 900.313.153-7</p>
    <p style="float:left;"><b>&nbsp; ____________________<br>Recib/Cliente.</b> <br>Nit/Cc: <%=@remision.clienteremi.nit%></p>
  </div>
      <p><b>Nuestras marcas :</b> :
        <%= wicked_pdf_image_tag 'mawie150.png',style:"float:ringt; margin:5px;" %>
        <%= wicked_pdf_image_tag 'Isabely50.png'%>
        <%= wicked_pdf_image_tag 'lorhan.png' %></p>
</center>

  </body>
</html>
