<div  class="shadow-lg p-3 mb-5 bg-white rounded">
  <center>
    <h1>Detalles del registro</h1>
  </center>
</div>
<center>



<p>
  <strong>Fecha Expedicion:</strong>
  <%= @remision.fecha_expedicion %>
</p>
<p>
  <strong>Cliente :</strong>
  <%=@remision.clienteremi.nombre %>&nbsp;&nbsp;
  <strong>Apellidos :</strong><%=@remision.clienteremi.apellidos%>
  &nbsp;&nbsp;<strong>Empresa :</strong><%=@remision.clienteremi.empresa%>
  &nbsp;&nbsp;<strong>Nit :</strong><%=@remision.clienteremi.nit%>
  &nbsp;&nbsp;<strong>Ciudad :</strong><%=@remision.clienteremi.ciudad%></p>



<% @remision.atriremis.each do |atriremi|%>
<p><strong>referencia : </strong><%= atriremi.referencia%>
&nbsp;&nbsp;<strong>Descripcion :</strong><%=atriremi.descripcion%>
&nbsp;&nbsp;<strong>Lote :</strong><%=atriremi.lote%>
&nbsp;&nbsp;<strong>Cantidad :</strong><%=atriremi.cantidad%>
&nbsp;&nbsp;<strong>Unidad :</strong><%=atriremi.unidad%></p>
<%end%>


<% @remision.atrichecks.each do |atricheck|%>
&nbsp;&nbsp;<strong>Lote :</strong><%=atricheck.lote%>
&nbsp;&nbsp;<strong>Cantidad :</strong><%=atricheck.cantidad%>
&nbsp;&nbsp;<strong>Unidad :</strong><%=atricheck.unidad%></p>
<%end%>

<p>
  <strong>Nota:</strong>
  <%= @remision.nota %>
</p>


    <%= link_to 'Editar', edit_remision_path(@remision),class:"btn btn-warning" %>
    <%= link_to 'Atras', remisions_path,class:"btn btn-primary" %>
    <br>
    <hr>
    <div class="col-md-6">
      <div class="shadow-lg p-3 mb-5 bg-white ">
        <center>
      <h3>Generar Remision</h3>
      <%= link_to 'PDF',remision_path(@remision, format: "pdf"), class:"btn btn-outline-danger mr-2" %>
      </center>
    </div>
    </div>
</center>
