
<%= simple_form_for(@reporte) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <center>
    <div style="display:inline-block;" >
      <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <h5><%= f.input :equipo, placeholder: "Ejm: Impresora Hp" %></h5>
              </div>
              <div class="form-group col-md-6">
                <h5><%= f.input :area_funcionamiento %></h5>
              </div>
              <div class="form-group col-md-12">
                <h5><%= f.input :correo, placeholder: "pedro@samaracosmetics.com" %></h5>
              </div>
                <br><hr><hr>
              <div class="form-group col-md-12">
                  <div class="shadow-none p-3 mb-5 bg-light rounded">
                    <h5><%= f.input :descripcion_problema %></h5>
                  </div>
              </div>
              <div class="form-group col-md-6">
                <h5><%= f.input :fecha, as: :date,start_year: Date.today.year-5,
                                            end_year: Date.today.year,
                                            order:[:year,:month, :day], :hint=>"Inicio del problema"%></h5>
              </div>
              <div class="form-group col-md-6">
                <h5><%= f.label :intervencion%>
                  <%= f.select :intervencion, ['Puede esperar','Necesita pronta atencion','Urgente atencion'],{:prompt => 'Selecciona uno'},class:"custom-select" %></h5>
              </div>
          </div>
      </form>
      <%= f.button :submit,"Generar",class:"btn btn-success col-md-4" %>
    </div>
  </center>
<% end %>
