<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Tipo</Data></Cell>
        <Cell><Data ss:Type="String">Marca</Data></Cell>
        <Cell><Data ss:Type="String">Serial</Data></Cell>
        <Cell><Data ss:Type="String">Area funcionamiento</Data></Cell>
        <Cell><Data ss:Type="String">Fecha compra</Data></Cell>
        <Cell><Data ss:Type="String">Fecha vencimiento garantia</Data></Cell>
      </Row>
    <% @hojavidas.each do |hojavida| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= hojavida.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= hojavida.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= hojavida.tipo %></Data></Cell>
        <Cell><Data ss:Type="String"><%= hojavida.marca %></Data></Cell>
        <Cell><Data ss:Type="String"><%= hojavida.serial %></Data></Cell>
        <Cell><Data ss:Type="String"><%= hojavida.area_funcionamiento %></Data></Cell>
        <Cell><Data ss:Type="String"><%= hojavida.fecha_compra %></Data></Cell>
        <Cell><Data ss:Type="String"><%= hojavida.garantia %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
